@media(max-width: 1140px){
	.container{
		width: 900px;
	}
}
@media(max-width: 900px){
	.container{
		width: 800px;
	}
}
@media(max-width: 800px){
	.container{
		width: 700px;
	}
	.nav > .container{
		flex-direction: column;
		align-items: center;
	}
	.nav__loog{
		width: 70px;
		margin-bottom: 10px;
	}
	.Biznesingizni-section > .container{
		flex-direction: column-reverse;
		padding-top: 30px;
	}
	.Biznesingizni-section-info{
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.Biznesingizni-section-info__title{
		margin: 0 auto;
	}	
	.Biznesingizni-section-info__subtitle{
		margin: 15px auto;
	}
	.Biznesingizni-section-video{
		width: 100%;
		min-height: 450px;
		margin-bottom: 30px;
	}

}
@media(max-width: 720px){
	.container{
		width: 600px;
	}
	.nav-list{
		margin: 0;
		padding: 15px 0;
		justify-content: space-around;
		width: 100%;
	}
	.nav-item{
		display: none;
	}
	.nav__btn{
		display: block;
	}
	.xizmatlar-section-item{
		text-align: center;
	}
	.xizmatlar-section-item > img{
		width: 100%;
	}
	.xizmatlar-section__subtitle{
		width: 600px;
	}
	.qandaIshlaymiz-section__subtitle{
		width: 600px;
	}
	.buyurtma-section__subtitle{
		width: 600px;
	}
}
@media(max-width: 620px){
	.container{
		width: 85%;
	}
	.Biznesingizni-section-video{
		min-height: 300px;
	}
	.Biznesingizni-section-info__subtitle{
		width: 100%;
	}
	.xizmatlar-section__subtitle{
		width: 100%;
	}
	.xizmatlar-section-item{
		width: 100%;
		margin-top: 20px;
	}
	.qandaIshlaymiz-section__subtitle{
		width: 100%;
	}
	.qandaIshlaymiz-section-item{
		flex-wrap: wrap;
		margin: 10px 0;
	}
	.qandaIshlaymiz-section-item__img{
		width: 100%;
	}
	.qandaIshlaymiz-section-item__info{
		width: 100%;
		text-align: center;
	}
	.buyurtma-section__subtitle{
		width: 100%;
	}
	.footer-list{
		flex-wrap: wrap;
	}

	.footer-item{
		width: 100%;
		margin: 10px 0;
		text-align: center;
		display: flex;
		justify-content: center;
	}
	.footer-item__link{
		width: 20%;
		margin: 2.5px auto;
		padding: 2px;
		transition: background-color 0.4s;
	}
	.footer-item__link:hover{
		background-color: rgba(255,255,255,0.1);
		border-radius: 5px;
	}
	.footer-item-link{
		margin: 2.5px auto;
		padding: 2.5px;
		transition: background-color 0.4s;
	}
	.footer-item-link:hover{
		background-color: rgba(255,255,255,0.1);
		border-radius: 5px;
	}
	.footer-item-link{
		width: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.Biznesingizni-section-info__title{
		width: 100%;
	}
	.xizmatlar-section__title{
		width: 100%;
	}
	.qandaIshlaymiz-section__title{
		width: 100%;
	}
	.buyurtma-section__title{
		width: 100%;
	}	
}
@media(max-width: 340px){
	.buyurtma-section-list{
		width: 95%;
	}
	.footer-item__title{
		width: 100%;
	}
	.buyurtma-section__btn{
		width: 100%;
		overflow-x: hidden;
	}
}
